[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BrazilMet"]
	path = BrazilMet
	url = https://github.com/filgueirasr/brazilmet
[submodule "cropDemand"]
	path = cropDemand
	url = https://github.com/filgueirasr/cropdemand
[submodule "cropZoning"]
	path = cropZoning
	url = https://github.com/filgueirasr/cropzoning
